Package: me.lightmann.quorra
Name: Quorra
Version: 1.1.3
Depends: mobilesubstrate, preferenceloader, com.rpetrich.rocketbootstrap, firmware (>= 12.0), firmware (<< 14.0)
Architecture: iphoneos-arm
Description: iOS 14's indicator dots for iOS 12 & 13
Maintainer: Lightmann
Author: Lightmann
Section: Tweaks
Icon: https://raw.githubusercontent.com/L1ghtmann/Quorra/master/icon.png
