Package: me.lightmann.quorra
Name: Quorra
Version: 1.0.5
Depends: mobilesubstrate, preferenceloader, firmware (>= 13.0)
Architecture: iphoneos-arm
Description: iOS 14's indicator dots for iOS 13
Maintainer: Lightmann
Author: Lightmann
Section: Tweaks
